.title--anim {
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #2e2520, transparent, transparent);
    background-clip: text;
    color: transparent;

    animation: reveal 3000ms ease-in-out forwards 200ms,
        glow 3500ms linear infinite 4000ms;

    @keyframes reveal {
        80% {
            letter-spacing: 8px;
        }

        100% {
            background-size: 600% 600%;
        }
    }

    @keyframes glow {
        40% {
            text-shadow: 0 5px 0 #AB816C
        }
    }
}