.title--anim {
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, getColor(primary), transparent, transparent);
    background-clip: text;
    color: transparent;

    animation: reveal 3000ms ease-in-out forwards 200ms,
        glow 3500ms linear infinite 4000ms;

    @keyframes reveal {
        80% {
            letter-spacing: 8px;
        }

        100% {
            background-size: 600% 600%;
        }
    }

    @keyframes glow {
        40% {
            text-shadow: 0 5px 0 getColor(accent-before);
        }
    }
}

.program__list--img {
    position: absolute;
    bottom: 75%;
    left: 25%;
    animation:
        rotateOut 3500ms linear 3500ms infinite forwards;

    @media screen and (min-width: getSize(desktop)) {
        animation: rollIn 3500ms getProperty(cubic) both,
            rotateOut 3500ms linear 3500ms infinite forwards;
    }

}

@keyframes rollIn {
    0% {
        transform: translateX(100px) rotate(-720deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes rotateOut {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}