.btn {
    @include Btn(mobile, mobile);
    font-family: getFont(accent);
    @include lh(23, 18, 18px);

    color: getColor(secondary);
    background-color: getColor(accent-before);
    border-color: transparent;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    @media screen and (min-width: 1280px) {
        @include lh(30, 24, 24px);
        @include Btn(desktop, desktop);
    }
}