body {
    background-color: getColor(background-color);
    color: getColor(primary);
    font-family: getFont(basic);

    @include lh(20, 16, 16px);

    @media screen and (min-width: getSize(desktop)) {
        @include lh(22, 18, 18px);
    }
}


body {

    &.is-modal-shown,
    &.is-menu-shown {
        overflow: hidden;
    }
}