.socials__list {
    @extend %list;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1280px) {
        justify-content: left;
    }

}

.socials__list--footer {
    justify-content: center;
    margin-bottom: 32px;
}

.socials__item {
    transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1), transform .5s;
    padding: 2px;

    &:not(:last-child) {
        margin-right: 16px;

    }

    &:hover,
    &:focus {
        fill: #AB816C;
        transform: scale(1.1);
    }


}