<section class="contact">
  <div class="container">
    <h2 class="contact__title">Contact</h2>
    <p class="contact__subtitle">We will answer any question!</p>
    <form class="contact__form">
      <label class="contact__label">
        <input class="contact__input" type="text" />
      </label>
      <label class="contact__label">
        <input class="contact__input" type="text" />
      </label>
      <button class="btn"></button>
    </form>
    <ul class="contact__list">
      <li class="contact__item">
        <a
          class="contact__link"
          href="https://twitter.com/"
          target="_blank"
          title="Twitter"
          aria-label="Twitter"
        ></a>
      </li>
      <li class="contact__item">
        <a
          class="contact__link"
          href="https://www.instagram.com/"
          target="_blank"
          title="Instagram"
          aria-label="Instagram"
        ></a>
      </li>
      <li class="contact__item">
        <a
          class="contact__link"
          href="https://www.facebook.com/"
          target="_blank"
          title="Facebook"
          aria-label="Facebook"
        ></a>
      </li>
    </ul>
  </div>
</section>
