<section class="contact section" id="contact">
  <div class="container">
    <h2 class="contact__title title--anim">Contact</h2>
    <p class="contact__subtitle">We will answer any question!</p>
    <form class="contact__form">
      <label class="contact__label">
        <input class="contact__input" type="text" placeholder="Email" />
      </label>
      <label class="contact__label">
        <input
          class="contact__input contact__input--ext"
          type="text"
          placeholder="Type your question"
        />
      </label>
      <button class="btn contact_btn">Send</button>
    </form>
  </div>
</section>
