<footer class="footer section">
  <div class="container">
    <img
      class="footer__img"
      src="./images/desktop/footer/1x/Wheat-flour-1x.png"
      alt="#"
    />
    <ul class="footer--socials">
      <li class="footer__item">
        <a
          class="footer__link"
          href="https://twitter.com/"
          target="_blank"
          title="Twitter"
          aria-label="Twitter"
        >
          <svg class="footer__icon" width="16" height="16">
            <use href="./images/icon/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item">
        <a
          class="footer__link"
          href="https://www.instagram.com/"
          target="_blank"
          title="Instagram"
          aria-label="Instagram"
        >
          <svg class="footer__icon" width="16" height="16">
            <use href="./images/icon/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item">
        <a
          class="footer__link"
          href="https://www.facebook.com/"
          target="_blank"
          title="Facebook"
          aria-label="Facebook"
        >
          <svg class="footer__icon" width="16" height="16">
            <use href="./images/icon/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="footer__list">
      <li class="footer__item">
        <svg class="footer__icon" width="13" height="13">
          <use href="./images/icon/sprite.svg#icon-tel"></use>
        </svg>
        <a class="footer__link" href="tel:(910)222-8855">(910)222-8855</a>
      </li>
      <li class="footer__item">
        <svg class="footer__icon" width="11" height="14">
          <use href="./images/icon/sprite.svg#icon-location"></use>
        </svg>
        <a
          class="footer__link"
          href="https://goo.gl/maps/j6qY629saw8xu12F9"
          target="_blank"
          rel="noopener noreferrer"
          >New York</a
        >
      </li>
    </ul>
  </div>
</footer>
