<header class="header section" id="header">
  <div class="container header__container">
    <a href="#registration" class="header__logo">
      <svg aria-label="Logo" class="header__logo--icon">
        <use href="./images/icon/sprite.svg#icon-logo"></use>
      </svg>
    </a>

    <button type="button" class="nav__menu--button" data-menu-button>
      <svg width="30" height="16" aria-label="Переключатель мобильного меню">
        <use class="icon__menu" href="./images/icon/sprite.svg#icon-menu"></use>
        <use
          class="icon__cross"
          href="./images/icon/sprite.svg#icon-close"
        ></use>
      </svg>
    </button>

    <div class="menu__container is-close" data-menu>
      <a href="#registration" class="header__logo--menu-container">
        <svg aria-label="helping logo" class="header__logo--menu">
          <use href="./images/icon/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header__list">
        <li class="header__item">
          <a data-route="about" href="#about">About us</a>
        </li>
        <li class="header__item">
          <a data-route="program" href="#program">Program</a>
        </li>
        <li class="header__item">
          <a data-route="reviews" href="#reviews">Reviews</a>
        </li>
        <li class="header__item">
          <a data-route="contact" href="#contact">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>
