<section class="hero section">
  <div class="container">
    <div class="hero__container">
      <h1 class="hero__title title--anim">
        Donut Masterclass with the Donut King
      </h1>
      <p class="hero_subtitle">Hosted by Eva Green</p>
      <button class="btn hero__btn">
        <a href="#registration">Register</a>
      </button>
      <ul class="socials__list">
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://twitter.com/"
            target="_blank"
            aria-label="Twitter"
          >
            <svg class="socials__icon" width="16" height="16">
              <use href="./images/icon/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.instagram.com/"
            target="_blank"
            aria-label="Instagram"
          >
            <svg class="socials__icon" width="16" height="16">
              <use href="./images/icon/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.facebook.com/"
            target="_blank"
            aria-label="Facebook"
          >
            <svg class="socials__icon" width="16" height="16">
              <use href="./images/icon/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
