<section class="program section" id="program">
  <div class="container">
    <h2 class="program__title title--anim">Program</h2>
    <div class="program--container">
      <div class="program__container--desc">
        <p class="program__description">
          Indulge in this immersive sweet treat experience with The Chef Donut
          Queen in her New York donut shop!
        </p>
        <ul class="program__list--desc">
          <li class="program__item">A stand up history of donuts</li>
          <li class="program__item">Make 3 donut flavors of your choice</li>
          <li class="program__item">Enjoy all-you-can-eat donuts</li>
          <li class="program__item">Cocktail pairings and coffee included</li>
          <li class="program__item">Photoshoot by professional photographer</li>
          <li class="program__item">Secret receipt of cooking from Eva</li>
          <li class="program__item">All products are included in the price</li>
        </ul>
        <p class="program_sublist about-us__text--visible">
          Come with your dear people and friends and you will spend an
          unforgettable time and will become a real professional in donuts
          cooking! Come with your dear people and friends and you will spend an
          unforgettable time and will become a real professional in donuts
          cooking!
        </p>
        <button type="button" class="about-us__button">Read more</button>
      </div>
      <ul class="program__list--ex">
        <li class="program__item--ex ex-rigth">
          <picture>
            <source
              srcset="
                ./images/desktop/program/1x/pic1x-1-min.png 1x,
                ./images/desktop/program/2x/pic2x-1-min.png 2x,
                ./images/desktop/program/3x/pic3x-1-min.png 3x
              "
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <img
              src="./images/desktop/program/2x/pic2x-1-min.png"
              class="program__list--img"
              alt="donat"
              width="80"
              height="80"
            />
          </picture>
          <h3 class="program__title">Type of the event</h3>
          <p class="program__desc">Cooking classes</p>
          <svg class="socials__icon" width="19" height="19">
            <use href="./images/icon/sprite.svg#icon-Frame-19"></use>
          </svg>
        </li>
        <li class="program__item--ex ex-transform">
          <picture>
            <source
              srcset="
                ./images/desktop/program/1x/pic1x-2-min.png 1x,
                ./images/desktop/program/2x/pic2x-2-min.png 2x,
                ./images/desktop/program/3x/pic3x-2-min.png 3x
              "
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <img
              src="./images/desktop/program/2x/pic2x-2-min.png"
              class="program__list--img"
              alt="donat"
              width="80"
              height="80"
            />
          </picture>
          <h3 class="program__title">Number of guests</h3>
          <p class="program__desc">1 to 20</p>
          <svg class="socials__icon" width="19" height="19">
            <use href="./images/icon/sprite.svg#icon-Frame-20"></use>
          </svg>
        </li>
        <li class="program__item--ex ex-rigth">
          <picture>
            <source
              srcset="
                ./images/desktop/program/1x/pic1x-3-min.png 1x,
                ./images/desktop/program/2x/pic2x-3-min.png 2x,
                ./images/desktop/program/3x/pic3x-3-min.png 3x
              "
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <img
              src="./images/desktop/program/2x/pic2x-3-min.png"
              class="program__list--img"
              alt="donat"
              width="80"
              height="80"
            />
          </picture>
          <h3 class="program__title">Time of the event</h3>
          <p class="program__desc">18:30 (2.5 hours)</p>
          <svg class="socials__icon" width="19" height="19">
            <use href="./images/icon/sprite.svg#icon-Frame-21"></use>
          </svg>
        </li>
        <li class="program__item--ex ex-transform">
          <picture>
            <source
              srcset="
                ./images/desktop/program/1x/pic1x-4-min.png 1x,
                ./images/desktop/program/2x/pic2x-4-min.png 2x,
                ./images/desktop/program/3x/pic3x-4-min.png 3x
              "
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <img
              src="./images/desktop/program/2x/pic2x-4-min.png"
              class="program__list--img"
              alt="donat"
              width="80"
              height="80"
            />
          </picture>
          <h3 class="program__title">The host speaks</h3>
          <p class="program__desc">English, French</p>
          <svg class="socials__icon" width="19" height="19">
            <use href="./images/icon/sprite.svg#icon-Frame-22"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
