<section class="program section">
  <div class="container">
    <h2 class="program__title">Program</h2>
    <p class="program__description">
      Indulge in this immersive sweet treat experience with The Chef Donut Queen
      in her New York donut shop!
    </p>
    <div>
      <ul class="program__list--desc">
        <li class="program__item">A stand up history of donuts</li>
        <li class="program__item">Make 3 donut flavors of your choice</li>
        <li class="program__item">Enjoy all-you-can-eat donuts</li>
        <li class="program__item">Cocktail pairings and coffee included</li>
        <li class="program__item">Photoshoot by professional photographer</li>
        <li class="program__item">Secret receipt of cooking from Eva</li>
        <li class="program__item">All products are included in the price</li>
      </ul>
      <p class="program_sublist">
        Come with your dear people and friends and you will spend an
        unforgettable time and will become a real professional in donuts
        cooking!
      </p>
      <ul class="program__list--ex">
        <li class="program__item--ex">
          <picture>
            <!-- <source
              srcset="
                ./images/portfolio/mobile/1x/site1x-webp.webp 1x,
                ./images/portfolio/mobile/2x/site2x-webp.webp 2x,
                ./images/portfolio/mobile/3x/site3x-webp.webp 3x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/portfolio/mobile/1x/site1x.jpg 1x,
                ./images/portfolio/mobile/2x/site2x.jpg 2x,
                ./images/portfolio/mobile/3x/site3x.jpg 3x
              "
              media="(max-width: 767.98px)"
              type="image/ipg"
            />
            <source
              srcset="
                ./images/portfolio/tablet/1x/site1x-webp.webp 1x,
                ./images/portfolio/tablet/2x/site2x-webp.webp 2x,
                ./images/portfolio/tablet/3x/site3x-webp.webp 3x
              "
              media="(max-width: 1199.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/portfolio/tablet/1x/site1x.jpg 1x,
                ./images/portfolio/tablet/2x/site2x.jpg 2x,
                ./images/portfolio/tablet/3x/site3x.jpg 3x
              "
              media="(max-width: 1199.98px)"
              type="image/ipg"
            />
            <source
              srcset="
                ./images/portfolio/desktop/1x/site1x-webp.webp 1x,
                ./images/portfolio/desktop/2x/site2x-webp.webp 2x,
                ./images/portfolio/desktop/3x/site3x-webp.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            /> -->
            <source
              srcset="
                ./images/desktop/program/1x/pic1x-1-min.png 1x,
                ./images/desktop/program/2x/pic2x-1-min.png 2x,
                ./images/desktop/program/3x/pic3x-1-min.png 3x
              "
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <img
              src="./images/desktop/program/2x/pic2x-1-min.png"
              class="program__list--img"
              alt="donat"
            />
          </picture>
          <h3 class="program__title">Type of the event</h3>
          <p class="program__desc">Cooking classes</p>
          <svg class="socials__icon" width="16" height="16">
            <use href="./images/icon/sprite.svg#icon-Frame-19"></use>
          </svg>
        </li>
        <li class="program__item--ex">
          <img
            src="./images/desktop/program/1x/pic1x-2-min.png"
            class="program__list--img"
            alt="donat"
          />
          <h3 class="program__title">Number of guests</h3>
          <p class="program__desc">1 to 20</p>
          <svg class="socials__icon" width="16" height="16">
            <use href="./images/icon/sprite.svg#icon-Frame-20"></use>
          </svg>
        </li>
        <li class="program__item--ex">
          <img
            src="./images/desktop/program/1x/pic1x-3-min.png"
            class="program__list--img"
            alt="donat"
          />
          <h3 class="program__title">Time of the event</h3>
          <p class="program__desc">18:30 (2.5 hours)</p>
          <svg class="socials__icon" width="16" height="16">
            <use href="./images/icon/sprite.svg#icon-Frame-21"></use>
          </svg>
        </li>
        <li class="program__item--ex">
          <img
            src="./images/desktop/program/1x/pic1x-min.png"
            class="program__list--img"
            alt="donat"
          />
          <h3 class="program__title">The host speaks</h3>
          <p class="program__desc">English, French</p>
          <svg class="socials__icon" width="16" height="16">
            <use href="./images/icon/sprite.svg#icon-Frame-22"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
