<section class="reviews">
  <div class="container">
    <h2 class="reviews">Reviews</h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <img src="#" alt="#" />
        <svg>
          <use></use>
        </svg>
        <span class="reviews__text">John</span>
        <p class="reviews__comment">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </li>
      <li class="reviews__item">
        <img src="#" alt="#" />
        <svg>
          <use></use>
        </svg>
        <span class="reviews__text">Will</span>
        <p class="reviews__comment">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </li>
      <li class="reviews__item">
        <img src="#" alt="#" />
        <svg>
          <use></use>
        </svg>
        <span class="reviews__text">Elisabeth</span>
        <p class="reviews__comment">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </li>
    </ul>
  </div>
</section>
