<section class="reviews section" id="reviews">
  <div class="container">
    <h2 class="reviews__title title--anim">Reviews</h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/desktop/reviews/1x/pic1x-1-min.png 1x,
              ./images/desktop/reviews/2x/pic2x-1-min.png 2x,
              ./images/desktop/reviews/3x/pic3x-1-min.png 3x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />
          <img
            src="./images/desktop/reviews/2x/pic2x-1-min.png"
            class="reviews__list--img"
            alt="This is John's photo"
            width="280"
            height="337"
          />
        </picture>
        <svg>
          <use></use>
        </svg>
        <span class="reviews__text">John</span>
        <p class="reviews__comment">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </li>
      <li class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/desktop/reviews/1x/pic1x-2-min.png 1x,
              ./images/desktop/reviews/2x/pic2x-2-min.png 2x,
              ./images/desktop/reviews/3x/pic3x-2-min.png 3x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />
          <img
            src="./images/desktop/reviews/2x/pic2x-2-min.png"
            class="reviews__list--img"
            alt="This is Will's photo"
            width="280"
            height="337"
          />
        </picture>
        <svg>
          <use></use>
        </svg>
        <span class="reviews__text">Will</span>
        <p class="reviews__comment">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </li>
      <li class="reviews__item">
        <picture>
          <source
            srcset="
              ./images/desktop/reviews/1x/pic1x-3-min.png 1x,
              ./images/desktop/reviews/2x/pic2x-3-min.png 2x,
              ./images/desktop/reviews/3x/pic3x-3-min.png 3x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />
          <img
            src="./images/desktop/reviews/2x/pic2x-3-min.png"
            class="reviews__list--img"
            alt="This is Elisabeth's photo"
          />
        </picture>
        <svg>
          <use></use>
        </svg>
        <span class="reviews__text">Elisabeth</span>
        <p class="reviews__comment">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
      </li>
    </ul>
  </div>
</section>
