<section class="reviews section" id="reviews">
  <div class="container">
    <h2 class="reviews__title title--anim">Reviews</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <!-- <picture>
            <source
              srcset="
                ./images/mobile/reviews/pic@1x.png 1x,
                ./images/mobile/reviews/pic@2x.png 2x,
                ./images/mobile/reviews/pic@3x.png 3x
              "
              media="(max-width: 767.98px)"
              type="image/png"
              width="280"
              height="280"
            />

            <source
              srcset="
                ./images/tablet/reviews/pic@1x.png 1x,
                ./images/tablet/reviews/pic@2x.png 2x,
                ./images/tablet/reviews/pic@3x.png 3x
              "
              media="(max-width: 1199.98px)"
              type="image/png"
              width="336"
              height="336"
            />

            <source
              srcset="
                ./images/desktop/reviews/1x/pic1x-3-min.png 1x,
                ./images/desktop/reviews/2x/pic2x-3-min.png 2x,
                ./images/desktop/reviews/3x/pic3x-3-min.png 3x
              "
              media="(min-width: 1200px)"
              type="image/jpg"
              width="394"
              height="394"
            />
            <img
              src="./images/desktop/reviews/2x/pic2x-3-min.png"
              class="reviews__list--img"
              alt="This is Elisabeth's photo"
              width="394"
              height="454"
            />
          </picture> -->
          <svg class="socials__icon" width="136" height="24">
            <use href="./images/icon/sprite.svg#icon-rate-1"></use>
          </svg>
          <span class="reviews__text">Will</span>
          <p class="reviews__comment">
            Last time I have visited a cooking course by Eva
            <br />
            I was impressed with the way she explained everything to people.
            <br />
            You can be sure you will manage to cook a delicious dish even if it
            is your first time in the kitchen! <br />
            Thank you so much for the masterclass! Looking forward to the next
            one and highly recommend it to everyone!
          </p>
        </div>
        <!-- <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/mobile/reviews/pic@1x.png 1x,
                ./images/mobile/reviews/pic@2x.png 2x,
                ./images/mobile/reviews/pic@3x.png 3x
              "
              media="(max-width: 767.98px)"
              type="image/png"
              width="280"
              height="280"
            />
            <source
              srcset="
                ./images/tablet/reviews/pic@1x.png 1x,
                ./images/tablet/reviews/pic@2x.png 2x,
                ./images/tablet/reviews/pic@3x.png 3x
              "
              media="(max-width: 1199.98px)"
              type="image/png"
              width="336"
              height="336"
            />
            <source
              srcset="
                ./images/desktop/reviews/1x/pic1x-2-min.png 1x,
                ./images/desktop/reviews/2x/pic2x-2-min.png 2x,
                ./images/desktop/reviews/3x/pic3x-2-min.png 3x
              "
              media="(min-width: 1200px)"
              type="image/jpg"
              width="394"
              height="454"
            />
            <img
              src="./images/desktop/reviews/2x/pic2x-2-min.png"
              class="reviews__list--img"
              alt="This is Will's photo"
              width="394"
              height="454"
            />
          </picture>
          <svg class="socials__icon" width="136" height="24">
            <use href="./images/icon/sprite.svg#icon-rate"></use>
          </svg>
          <span class="reviews__text">Elisabeth</span>
          <p class="reviews__comment">
            Last time I have visited a cooking course by Eva
            <br />
            I was impressed with the way she explained everything to people.
            <br />
            You can be sure you will manage to cook a delicious dish even if it
            is your first time in the kitchen! <br />
            Thank you so much for the masterclass! Looking forward to the next
            one and highly recommend it to everyone!
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/mobile/reviews/pic@1x.png 1x,
                ./images/mobile/reviews/pic@2x.png 2x,
                ./images/mobile/reviews/pic@3x.png 3x
              "
              media="(max-width: 767.98px)"
              type="image/png"
              width="280"
              height="280"
            />
            <source
              srcset="
                ./images/tablet/reviews/pic@1x.png 1x,
                ./images/tablet/reviews/pic@2x.png 2x,
                ./images/tablet/reviews/pic@3x.png 3x
              "
              media="(max-width: 1199.98px)"
              type="image/png"
              width="336"
              height="336"
            />
            <source
              srcset="
                ./images/desktop/reviews/1x/pic1x-1-min.png 1x,
                ./images/desktop/reviews/2x/pic2x-1-min.png 2x,
                ./images/desktop/reviews/3x/pic3x-1-min.png 3x
              "
              media="(min-width: 1200px)"
              type="image/jpg"
              width="394"
              height="454"
            />
            <img
              src="./images/desktop/reviews/2x/pic2x-1-min.png"
              class="reviews__list--img"
              alt="This is John's photo"
              width="394"
              height="454"
            />
          </picture>
          <svg class="socials__icon" width="136" height="24">
            <use href="./images/icon/sprite.svg#icon-rate-1"></use>
          </svg>
          <span class="reviews__text">John</span>
          <p class="reviews__comment">
            Last time I have visited a cooking course by Eva
            <br />
            I was impressed with the way she explained everything to people.
            <br />
            You can be sure you will manage to cook a delicious dish even if it
            is your first time in the kitchen! <br />
            Thank you so much for the masterclass! Looking forward to the next
            one and highly recommend it to everyone!
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/mobile/reviews/pic@1x.png 1x,
                ./images/mobile/reviews/pic@2x.png 2x,
                ./images/mobile/reviews/pic@3x.png 3x
              "
              media="(max-width: 767.98px)"
              type="image/png"
              width="280"
              height="280"
            />
            <source
              srcset="
                ./images/tablet/reviews/pic@1x.png 1x,
                ./images/tablet/reviews/pic@2x.png 2x,
                ./images/tablet/reviews/pic@3x.png 3x
              "
              media="(max-width: 1199.98px)"
              type="image/png"
              width="336"
              height="336"
            />
            <source
              srcset="
                ./images/desktop/reviews/1x/pic1x-1-min.png 1x,
                ./images/desktop/reviews/2x/pic2x-1-min.png 2x,
                ./images/desktop/reviews/3x/pic3x-1-min.png 3x
              "
              media="(min-width: 1200px)"
              type="image/jpg"
              width="394"
              height="454"
            />
            <img
              src="./images/desktop/reviews/2x/pic2x-1-min.png"
              class="reviews__list--img"
              alt="This is John's photo"
              width="394"
              height="454"
            />
          </picture>
          <svg class="socials__icon" width="136" height="24">
            <use href="./images/icon/sprite.svg#icon-rate-1"></use>
          </svg>
          <span class="reviews__text">John</span>
          <p class="reviews__comment">
            Last time I have visited a cooking course by Eva
            <br />
            I was impressed with the way she explained everything to people.
            <br />
            You can be sure you will manage to cook a delicious dish even if it
            is your first time in the kitchen! <br />
            Thank you so much for the masterclass! Looking forward to the next
            one and highly recommend it to everyone!
          </p>
        </div> -->
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
