.btn {
    @include Btn(mobile, mobile);
    font-family: getFont(accent);
    @include lh(23, 18, 18px);

    color: getColor(secondary);
    background-color: getColor(accent-before);
    border-color: transparent;
    border-radius: 25px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: box-shadow getProperty(time) getProperty(cubic);

    &:hover,
    &:focus {
        box-shadow: getShadow(box);
    }

    @media screen and (min-width: getSize(desktop)) {
        @include lh(30, 24, 24px);
        @include Btn(desktop, desktop);
    }
}

.about-us__button,
.program__button {
    padding: 0;
    @include lh(23, 18, 18px);
    font-family: getFont(accent);
    text-align: center;
    color: getColor(accent-before);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: text-shadow getProperty(time) getProperty(cubic);

    &:hover,
    &:focus {
        text-shadow: -4px -4px 4px getColor(text-shadow) 4px 4px 4px getColor(text-shadow);
    }

    @media screen and (min-width: getSize(desktop)) {
        display: none;
    }
}

.contact_btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.about-us__text--visible,
.program__text--visible {
    @media screen and (max-width: getSize(wdesktop)) {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;

        &.is-open {
            opacity: 1;
            position: unset;
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: getSize(desktop)) {
        opacity: 1;
    }
}