.nav__menu--button {
    display: inline-flex;
    margin: 0;
    padding: 10px;
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: fill getProperty(time) getProperty(cubic);

    &:hover .icon__menu,
    &:focus .icon__menu,
    &:hover .icon__cross,
    &:focus .icon__cross {
        fill: getColor(accent-before);
    }

    @media screen and (min-width: getSize(desktop)) {
        display: none;
    }
}

.header__list {
    @extend %list;

    @media screen and (min-width: getSize(desktop)) {
        display: flex;
    }
}

.icon__cross {
    opacity: 0;
    transform: translateX(-100%);

    transition: transform getProperty(time) getProperty(cubic),
        opacity getProperty(time) getProperty(cubic);
}

.icon__menu {
    transition: transform getProperty(time) getProperty(cubic),
        opacity getProperty(time) getProperty(cubic);
}

.nav__menu--button.is-open .icon__menu {
    opacity: 0;
    transform: translateX(100%);
}

.nav__menu--button.is-open .icon__cross {
    opacity: 1;
    transform: translateX(0);
}


.menu__container {
    @media screen and (max-width: getSize(wdesktop)) {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;

        z-index: 1;

        padding-top: 48px;
        padding-bottom: 48px;


        display: flex;
        flex-direction: column;
        opacity: 1;
        overflow-y: scroll;

        background-color: getColor(bcg);


        transition: transform getProperty(time) cubic-bezier(0.075, 0.82, 0.165, 1),
            background-color getProperty(time) cubic-bezier(0.075, 0.82, 0.165, 1);

        &.is-close {
            opacity: 0;
            pointer-events: none;

        }
    }
}