.scroll-to-top {
    display: none;

    @media screen and (min-width: getSize(tablet)) {
        font-family: getFont(accent);
        display: block;
        position: fixed;
        bottom: 210px;
        right: 8%;

        width: 45px;
        height: 45px;

        background-color: getColor(bcg-up);
        outline: 2px solid getColor(accent-before);
        border-radius: 150px 150px 0px;
        border: none;

        cursor: pointer;

        animation: slide-top 1s linear 2s infinite alternate both;
        transition: opacity getProperty(time) getProperty(cubic), color getProperty(time) getProperty(cubic);

        &:hover,
        :focus {
            color: getColor(accent-before);
        }
    }
}


.js-transparent {
    opacity: 0;
    pointer-events: none;
}


@keyframes slide-top {
    from {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(5px);
    }
}