.socials__list {
    @extend %list;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    @media screen and (min-width: getSize(desktop)) {
        justify-content: left;
    }

}

.socials__list--footer {
    justify-content: center;
    margin-bottom: 32px;
}

.socials__item {
    transition: fill getProperty(time) getProperty(cubic), transform .5s;
    padding: 2px;

    &:not(:last-child) {
        margin-right: 16px;

    }

    &:hover,
    &:focus {
        fill: getColor(accent-before);
        transform: scale(1.1);
    }


}