.contact__title {
    @extend %title;
}

.contact__subtitle {
    text-align: center;
    margin-bottom: 16px;
}

.contact__label {
    width: 265px;
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    @media screen and (min-width: getSize(tablet)) {
        width: 410px;
        margin-bottom: 25px;
    }

    @media screen and (min-width: getSize(desktop)) {
        width: 430px;
    }
}

.contact__input {
    width: inherit;

    height: 35px;
    padding-left: 10px;
    border: none;
    cursor: pointer;

    border-bottom: 1px solid getColor(bcg-up);
    background-color: transparent;

    transition: box-shadow getProperty(time) getProperty(cubic),
        outline getProperty(time) getProperty(cubic);

    @media screen and (min-width: getSize(tablet)) {
        height: 25px;
    }

    &:hover,
    &:focus {

        outline: none;
        border-left: 1px solid getColor(bcg-up);
        border-right: 1px solid getColor(bcg-up);
        border-radius: 5px;
        box-shadow: -4px -4px 4px getColor(text-shadow), 4px 4px 4px getColor(text-shadow);
    }
}