.footer {
    position: relative;
}

.footer__img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer__list {
    @extend %list;
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    cursor: pointer;
    transition: fill getProperty(time) getProperty(cubic), transform .5s;

    &:hover,
    &:focus {
        transform: scale(1.1);
        fill: #AB816C;
    }
}