.footer {
    position: relative;
}

.footer__img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer__list {
    @extend %list;
}

.footer__list {
    display: flex;
    justify-content: space-between;
}