 .header__container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 10px;

     @media screen and (min-width: 1280px) {
         justify-content: left;
     }
 }

 .header__logo {
     margin-left: auto;
     margin-right: auto;

     @media screen and (min-width: 768px) {
         margin: 0;
     }
 }

 .header__logo--icon {
     width: 96px;
     height: 43px;

     @media screen and (min-width: 768px) {
         height: 48px;
     }

     @media screen and (min-width: 1280px) {
         width: 158px;
         height: 81px;
     }
 }

 .header__logo--menu-container {
     display: block;
     padding: 0;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 40px;

     @media screen and (min-width: 1280px) {
         display: none;
     }
 }

 .header__logo--menu {
     pointer-events: none;
     height: 85px;
     width: 190px;
 }

 .header__list {
     font-family: getFont(basic);
     font-weight: 500;
     @include lh(22, 18, 18px);
     text-align: center;
     padding: 15px 0;
     margin: 0;


     @media screen and (min-width: 1280px) {
         margin-left: 162px;
         padding: 0;
     }
 }

 .header__item {

     &:not(:last-child) {
         margin-bottom: 25px;


         @media screen and (min-width: 1280px) {
             margin-bottom: 0;
             margin-right: 20px;
         }
     }

     transition: text-shadow getProperty(time) getProperty(cubic);
     cursor: pointer;

     &:hover,
     &:focus {
         text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
     }


 }