.program__title {
    @extend %title;
}

.program--container {
    @media screen and (min-width: getSize(tablet)) {
        display: flex;
    }
}

.program__description {
    margin-bottom: 8px;
}

.program__container--desc {
    margin-bottom: 60px;

    @media screen and (min-width: getSize(tablet)) {
        margin-right: 30px;
        flex-basis: calc(100% - 40px / 2);
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: getSize(desktop)) {
        margin-right: 44px;
    }
}


.program__list--desc,
.program__list--ex {
    @extend %list;
    margin: 0;
    padding: 0;
}

.program__list--desc {
    margin-bottom: 20px;
}

.program__list--ex {
    flex-basis: calc(100% - 40px / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    .program__title {
        font-size: 18px;
        margin-bottom: 6px;
    }

    @media screen and (max-width: 767.98px) {
        max-width: 300px;

        margin-left: auto;
        margin-right: auto;
    }
}

.program__item {
    &:not(:last-child) {
        margin-bottom: 8px;
    }

    &::before {
        content: '\003E';
        margin-right: 4px;
    }
}




.program__item--ex {
    position: relative;
    display: flex;
    flex-basis: calc(100% - 40px / 2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    max-width: 130px;


    background-color: #FEF3E4;
    border-radius: 50%;

    @media screen and (min-width: getSize(desktop)) {
        max-width: 180px;
        height: 180px;
    }
}

.program__desc {
    font-size: 14px;
    margin-bottom: 10px;
}

.program__item--ex:not(:last-child) {
    margin-bottom: 57px;

    @media screen and (min-width: getSize(desktop)) {
        margin-bottom: 61px;
    }
}

.ex-rigth {
    margin-right: 20px;

    @media screen and (min-width: getSize(tablet)) {
        margin-right: 15px;
    }

    @media screen and (min-width: getSize(desktop)) {
        margin-right: 32px;
    }
}

.ex-transform {
    transform: translateY(25px);

    @media screen and (min-width: getSize(desktop)) {
        transform: translateY(56px);
    }
}