.registration__title {
    @extend %title;

    @media screen and (max-width: 767.98px) {
        left: 50%;
        top: 15px;
        z-index: 3;
        transform: translate(-50%, 50%);
        position: absolute;
    }

}

.registration__container {
    width: 100%;
    position: relative;

}

.regisration-container__content {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    padding-bottom: 47px;

    margin-left: auto;
    margin-right: auto;

    height: 510px;
    width: 290px;
    background-color: #FFFFF9;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;


    @media screen and (min-width: 768px) {
        width: 634px;
        height: 260px;
        border-radius: 150px 150px 150px 150px;

        padding: 0;
        flex-direction: row;
        align-items: center;
    }

    @media screen and (min-width: 1280px) {
        width: 822px;
    }
}

.regisration-container__content-inform {
    padding-top: 91px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(171, 129, 108, 0.5);
    border: none;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        width: 179px;
        padding-right: 30px;
        padding-top: 16px;
        padding-bottom: 74px;

        margin-top: auto;
        margin-bottom: auto;
        margin-right: 30px;

        border-right: 1px solid rgba(171, 129, 108, 0.5);


        text-align: right;



    }

    @media screen and (min-width: 1280px) {
        width: 264px;
        font-size: 20px;
    }
}

.content-inform__item-time {
    display: block;
    width: 114px;
    margin-bottom: 25px;


    @media screen and (min-width: 768px) {
        margin-bottom: 34px;
        margin-left: 35px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 107px;
        width: 127px;
    }
}



.registration__form {
    text-align: center;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        width: 455px;

    }

    @media screen and (min-width: 1280px) {
        margin-left: 0;
    }
}

.form-registration__title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 17px;

    @media screen and (min-width: 768px) {
        padding: 0;
        width: 234px;
        padding-right: 20px;
        text-align: start;
    }

    @media screen and (min-width: 1280px) {
        padding-right: 15px;
        margin-bottom: 13px;
        font-size: 18px;
    }
}

.registration__label {
    height: 23px;
    border: none;
    margin-bottom: 22px;
}

.registration__input {
    width: 265px;
    border: none;
    margin-bottom: 22px;
    cursor: pointer;

    border-bottom: 0.1px solid #AB816C;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        width: 234px;

    }
}

.form-registration__button {
    @media screen and (min-width: 768px) {
        position: absolute;
        top: 110px;
        right: 21px;
    }

    @media screen and (min-width: 1280px) {
        top: 103px;
        right: 70px;
    }
}