.reviews__title {
    @extend %title;
}

:root {
    --swiper-theme-color: #AB816C;
}

.swiper-pagination {

    &:hover,
    &:focus {
        transform: scale(1.2);
    }
}

.reviews__text {
    display: block;
    margin-top: 8px;
    margin-bottom: 15px;
}

.reviews__list {
    @extend %list;
}

.swiper-slide {
    text-align: center;
    cursor: pointer;
}

.reviews__list--img {
    margin: auto auto 35px;
    padding-top: 28px;
    display: block;
    cursor: pointer;


    transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        transform: scale(1.2);
    }
}

.reviews__comment {
    margin-bottom: 30px;
}