.reviews__title {
    @extend %title;
}

.swiper-pagination {
    --swiper-theme-color: #AB816C;
}

.swiper {
    width: 100%;
    height: 700px;
}


.reviews__text {
    display: block;
    margin-top: 8px;
    margin-bottom: 15px;
}

.reviews__list {
    @extend %list;
}

.swiper-slide {
    text-align: center;
    cursor: pointer;
}

.reviews__list--img {
    margin: auto auto 35px;
    padding-top: 28px;
    display: block;
    cursor: pointer;

}

.reviews__comment {
    margin-bottom: 30px;
}